/* ==UserStyle==
@name           Real Debrid Dark
@namespace      https://github.com/gorybloodfest/myCSSstyles
@version        1.0.0
@description    This is a style for Real Debrid, not perfect since there are some elements using cufon canvas
@author         Me
==/UserStyle== */

@-moz-document domain("real-debrid.com") {
    a {
        color: #6b6b6b !important;
        text-decoration: none;
        }
    
    .sidebar {
        background: none;
        overflow: hidden;
        padding: 20px 40px 30px;
        width: 250px;
        margin-right: 0px;
        float: right;
        min-height: 383px;
    }
    
    .valid {
        background: #171717;
        width: 100px;
        height: 18px;
        font-size: 9px;
        display: inline-block;
        color: #FFF;
        padding: 2px 2px 0px 1px;
        text-align: center;
        font-style: normal;
        float: right;
        line-height: 18px;
        border: solid 1px white;
    }
    
    input[type="submit"], input[type="button"] {
        background: #171717;
        display: block;
        float: left;
        height: 34px;
        width: 131px;
        line-height: 34px;
        padding-right: 30px;
        padding-bottom: 0px;
        text-decoration: none;
        color: #fff;
        border: solid 1px white;
    }
    
    .fidelity {
     background: #171717;
        width: 100px;
        height: 18px;
        font-size: 9px;
        display: inline-block;
        color: #FFF;
        padding: 2px 2px 0px 1px;
        text-align: center;
        font-style: normal;
        float: right;
        line-height: 18px;
        border: solid 1px white;
    }
    #header_img_right {
        width: 420px;
        height: 120px;
        margin: 20px 0px 0 270px;
        background: none;
        overflow: hidden;
        color: #333;
    }
    
    #aside1_v1 {
        height: 150px;
        width: 100%;
        border-top: 0px;
        border-bottom: 1px solid #ddd;
        background-position: 0 center;
        background-size: 77%;
    }
    #header {
        background-size: 77%;
        background-position: 0 -70px;
    }
    .header_pattern {
        background: none;
    }
    #header > div > div {
        background: #2b2b2b;
        height: 80px;
        border-radius: 0 0 25px 25px;
        border: 1px solid white;
        border-top: none;
    }
    #logo {
        margin-left: 10px;
    }
    
    .downloadSelectedCheckbox {transform:scale(2);}
    
    cufon canvas {
        position: relative!important;
        background: grey;
    }
    
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        color: #fff;
    }
    
    #facebox .content {
        background: #171717;
    }
    
    tr.tr.g2 {
        background: #171717;
    }
    
    #wrapper_global {
        width: 984px;
        height: 100%;
        margin: 0 auto;
        background: #171717;
        min-height: 600px;
    }
    
    .liste_arrow li {
        
        color: #fff;
    
    }
    
    .g1 {
        background-color: #171717;
    }
    
    textarea {
        background: black;
        color: white;
    }
    
    input[type=text] {
        border: #ddd 1px solid;
        color: white;
        padding: 5px;
        width: 300px;
        background: black;
    }
    
    #header_img_right {position: relative;top: 20px; margin: 0 0 0 500px;}
    
    #contentblock {
        background: #171717;
    }
    
    .footer_bg {
        background: #171717;
       background-image: none;
    }
    }