/* ==UserStyle==
@name           yandex dark
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    combine this style with night eye: https://chrome.google.com/webstore/detail/night-eye-dark-mode-on-an/alncdjedloppbablonallfbkeiknmkdi?hl=en
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://yandex.com/") {

    
body.b-page.b-page_tld_com.b-page_ajax_yes.b-page_initial-scroll_yes.b-page_tmpl_xjst.i-device-info.user-location-updater.typo.typo_text_m.typo_line_m.overlay.Theme.Theme_color_yandex-default.Theme_root_serp-desktop.serp-metrika.b-page__body.i-global.i-ua.i-device-info.user-location-updater.typo.typo_text_m.typo_line_m.overlay.Theme.Theme_color_yandex-default.Theme_root_serp-desktop.serp-metrika.i-bem.i-global_js_inited.b-page_js_inited.i-device-info_js_inited.user-location-updater_js_inited.serp-metrika_js_inited.i-ua_platform_other.i-ua_js_inited {
    background: #1b1b1b;
}
    
.serp-header__wrapper {
  
    background: #1b1b1b;
    
} 
    
.navigation__region {

    background: #1b1b1b;
}
    
.navigation {
 
    background-color: #1b1b1b;
  
}
    
span.service__name {
    color: #fff;
}
    
.Link_theme_normal {
    color: #fff;
}
   
.link_theme_normal {
    color: #fff;
}
    
    
.TextContainer {
    color: #777;
}
   
.serp-item {
    color: #777;
}
    
.object-footer_in-card_yes {
  
    background: #1b1b1b;
}

.serp-adv__found {
    color: #777;
}
   
.Link_theme_outer {
    color: #00a000;
}
    
 
.serp-footer__main {
    background-color: #1b1b1b;
    background-image: none !important;
}    
    
    
/* End of CSS */
    
}
