/* ==UserStyle==
@name           Stackedit Dark
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document url-prefix("https://stackedit.io/app#") {
    body {
        background-color: #171717;
    }
        
    /* Left Panel (File and folder nav panel) */    
    .explorer__tree {
        background: #171717;
        color: #777;
        /* border-right: solid 1px grey; */
    }
    
    .explorer {
        background: grey;
    }    
     .explorer-node--selected>.explorer-node__item {
        background-color: rgba(0,0,0,.2);
        color: white;
    }
        
    .explorer-node__item {
        color: #777;
    }    
    .side-title {
        background-color: #151414;
        border-bottom: solid 1px grey;
        color: #fff;
    }
        
    .icon * {
        fill: grey;
    }  
        
    .explorer__tree:focus .explorer-node--selected>.explorer-node__item {
        background: #121212;
        color: #fff;
        border-left: solid 1px grey;
        border-right: solid 1px grey;
    }
        
    /*Right Panel (Workspaces Customize Publish Etc)*/    
        
    .side-bar__panel--menu {
        padding: 10px;
        background: #171717;
        color: #fff;
    }
        
    .menu-entry {
        text-align: left;
        padding: 10px;
        height: auto;
        font-size: 17px;
        line-height: 1.4;
        text-transform: none;
        white-space: normal;
        color: #777;
    }
        
    .side-bar__panel {
        background: #171717;
    }    
        
    }